<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comista</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <h2>COMISTA</h2>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/users/new">Get Comics</a></li>
        <li><a href="/users/unsubscribe" class="gray">Unsubscribe</a></li>
      </ul>
    </nav>
    <main class="hero">
      <div class="hero-sub">
        <h1>Want a daily dose of Fun <span class="comista">COMICS</span>?</h1>
        <h2><span class="comista">COMISTA</span> is just the place for you</h2>

        <a href="/users/new" class="btn">Register Now</a>
      </div>
      <div class="bottom">Scroll to view more</div>
    </main>
    <section class="faq">
      <div class="ques">
        <h2>&gt; What is <span class="comista imp">COMISTA</span>?</h2>
        <p>
          Comista is a web application that allows you to subscribe to comics
          that you want to read. You can also unsubscribe from comics that you
          don't want to read anymore.
        </p>
      </div>

      <div class="ques">
        <h2>&gt; How does it <span class="imp">work</span>?</h2>
        <p>
          Comista is creating using NodeJS with ExpressJS as its backend which
          triggers a function every 10 minutes to send a mail to all subscribed
          users.
        </p>
        <p>
          The website is hosted on Something and the complete code is available
          on github <a href="">View Code</a>
        </p>
      </div>

      <div class="ques">
        <h2>
          &gt; What if I <span class="imp">don't want</span> to read comics
          anymore?
        </h2>
        <p>
          You can unsubscribe from comics by clicking on the "Unsubscribe" link
          in the navbar.
        </p>
      </div>

      <div class="ques">
        <h2>
          &gt; Who is the <span class="imp">developer</span> of this site?
        </h2>
        <p>
          You can view about the developer of the site @
          <a href="https://karanjotsingh.com" target="_blank"
            >karanjotsingh.com</a
          >
        </p>
      </div>
    </section>
  </body>
</html>
