<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comista</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/msg.css" />
  </head>
  <body>
    <nav>
      <h2>COMISTA</h2>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/users/new">Get Comics</a></li>
        <li><a href="/users/unsubscribe" class="gray">Unsubscribe</a></li>
      </ul>
    </nav>
    <main>
      <div class="card <%= success %>">
        <h1><%= title %></h1>
        <p><%= msg %></p>
        <a href="/" class="btn">Go home</a>
      </div>
    </main>
  </body>
</html>
