* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #252525;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 15px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #04293b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #063a53;
}

nav {
  background-color: #34b3f1;
  padding: 1rem 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
}

nav h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: white;
  font-family: "Pacifico", cursive;
  text-shadow: #ffffff5e 0 0 0.5rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  position: relative;
}

nav ul li a::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a.active {
  color: #ffffff;
  font-weight: 500;
}

.btn {
  background-color: #34b3f1;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  padding: 1rem 1rem;
  -webkit-box-shadow: rgba(52, 179, 241, 0.58) 0 0 1rem 3px;
          box-shadow: rgba(52, 179, 241, 0.58) 0 0 1rem 3px;
}

.btn:hover {
  background-color: #0c7cb3;
}

.comista {
  font-family: "Pacifico", cursive;
  font-size: 80%;
}

.imp {
  background: #f15412;
  color: #ffffff;
  padding: 0 0.5rem;
  border-radius: 5px;
}

body {
  height: 100vh;
}

.hero {
  color: white;
  width: 100%;
  height: 100%;
  padding: 0 15%;
  padding-top: 4.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  /* justify-content: space-between; */
  position: relative;
  background-color: rgba(0, 0, 0, 0.666);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/comics_bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.hero h1 {
  font-size: 400%;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 2%;
}

.hero h2 {
  font-size: 300%;
  font-weight: 500;
  margin: 0;
  text-align: start;
  line-height: 100%;
  color: #cbcbcb;
}

.hero-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero .btn {
  margin: 1.5rem 0;
}

.bottom {
  text-align: center;
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.566);
}

.register {
  width: 100%;
}

.faq {
  background-color: #eee;
  padding: 5rem 15%;
}

.faq .ques + .ques {
  margin-top: 3rem;
}

.faq .ques .imp {
  background: #f15412;
  color: #ffffff;
  padding: 0 0.5rem;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */