* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #252525;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 15px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #04293b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #063a53;
}

nav {
  background-color: #34b3f1;
  padding: 1rem 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
}

nav h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: white;
  font-family: "Pacifico", cursive;
  text-shadow: #ffffff5e 0 0 0.5rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  position: relative;
}

nav ul li a::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a.active {
  color: #ffffff;
  font-weight: 500;
}

.btn {
  background-color: #34b3f1;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  padding: 1rem 1rem;
  -webkit-box-shadow: rgba(52, 179, 241, 0.58) 0 0 1rem 3px;
          box-shadow: rgba(52, 179, 241, 0.58) 0 0 1rem 3px;
}

.btn:hover {
  background-color: #0c7cb3;
}

.comista {
  font-family: "Pacifico", cursive;
  font-size: 80%;
}

.imp {
  background: #f15412;
  color: #ffffff;
  padding: 0 0.5rem;
  border-radius: 5px;
}

body {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url("/img/comics_bg2.png");
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/img/comics_bg2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 900px) {
  body {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url("/img/comics_bg2.png");
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/img/comics_bg2.png");
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  padding: 0 5%;
  padding-top: 4.6rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20vh;
}

main section {
  height: 100%;
}

.title {
  color: rgba(255, 255, 255, 0.787);
  width: 50%;
  min-width: 350px;
}

.title h2 {
  font-size: 300%;
  font-weight: 700;
  margin: 0;
  text-align: start;
  line-height: 100%;
  color: #e8e8e8;
  margin-bottom: 2rem;
}

.title ol {
  line-height: 200%;
  font-size: 150%;
  list-style-position: inside;
}

.title p {
  font-size: 130%;
  margin-top: 2rem;
  color: #e8e8e8;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 350px;
}

.form-div {
  background: white;
  padding: 2rem 3.5rem;
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.8);
}

.form-div p {
  font-size: 2rem;
  font-weight: 700;
}

.form-div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.form-div form input {
  width: 100%;
  height: 2rem;
  border: none;
  border-bottom: 2px solid #6d6d6d;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
}

.form-div form input + input {
  margin-top: 0.5rem;
}

.form-div form button {
  margin-top: 1rem;
}
/*# sourceMappingURL=new_user.css.map */